@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Myeongjo:wght@800&display=swap');
/* font-family: 'Black Han Sans', sans-serif; */

/* 초기화 */
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Black Han Sans', sans-serif;
    line-height: 1.4;
}
body::-webkit-scrollbar { display: none;}
a {
    text-decoration: none;
}
p {
    margin: 0.75rem 0;
}

.text-primary {
    color: #93cb52;
}

/* 메뉴 바 */
#navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    z-index: 1;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: white;
    padding: 0.75rem;
    margin: 0 0.25rem;
    
}

#navbar ul li a:hover {
    background-color: #93cb52;
    border-radius: 25px;
}
/* 쇼케이스 */
#showcase {
    background: #333 url(../img/clouds.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
    position: relative;
}

#showcase .showcase-content { 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    /* 오버레이 : 쇼케이스를 같은 사이즈로 덮는다.*/
    position: absolute;
    top: 0; /* 위쪽 메뉴 */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

/* 공통 클래스 : 여러번 사용 */
.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: white;
    background-color: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn-dark {
    background-color: #333;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0.2rem;
}

.text-center {
    text-align: center;
}

.py-1 { padding: 1.5rem 0;}
.py-2 { padding: 2rem 0;}
.py-3 { padding: 3rem 0;}

bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.bg-dark {
    background-color: #333;
    color: white;
}

.bg-primary {
    background-color: #93cb52;
    color : white;
}

.p-1 { padding: 1.5rem;}
.p-2 { padding: 2rem;}
.p-3 { padding: 3rem;}

.list {
    margin: 0.5rem 0;
    list-style: none;
}
.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}


/* 섹션: 무엇을 하는가 */
#what .items {
    display: flex;
    padding: 1rem;
}

#what .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#what .items .item i {
    background-color: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* 섹션 : 우리는 누구 */
#who {
    display: flex;
}
#who div { 
    flex: 1;
}
#who .who-img {
    background: url(../img/mountain.jpg) no-repeat center center;
    background-size: cover;
}
/* 섹션 : 클라이언트 */
#clients .items {
    display: flex;
    justify-content: space-around;
}
#clients .items img {
    display: block;
    margin: auto;
    width: 40%;
}

/* 섹션 : 컨택트 */
#contact {
    display: flex;
}
#contact .map {
    flex: 10;
}
#contact .contact-form {
    flex: 9;
}

#contact .contact-form .form-group {
    margin: 0.75rem;
}

#contact .contact-form label {
    display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
}